.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  
    background-color: var(--black);
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 22;
  }

  .lightbox {
    max-width:34rem;
  }
  
.next {
  display: flex;
  right: 0;
  transform: translateX(50%) ;
}

.previous {
  display: flex;
  left: 0;
  transform: translateX(-50%);
}

.arrow {
  top: 40%;
}

  .btnClose {
    width: 34rem;
    text-align: end;
    padding: 1rem;
  }

  .btnClose img {
    cursor: pointer;
    filter: brightness(300%);
  }

  .hidden {
    display: none;
  }
  